.logo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 35px;
}

.home-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 140px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-search {
width: 100px;
margin-top: 10px;
padding: 10px;
border-radius: 5px;
background-color: rgb(106, 106, 254);
color: white;
border: none;
}

.search {
  margin-top: 20px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #090909;
  padding: 5px;
  width: 500px;
  text-align: center;
}

.Hero {
  height: 400px;
  background-image: url('/src/img/B1.png');
}

.text-desc,
.text-2
 {
  color: white;
  font-size: 25px;
}

.text-desc {
  font-weight: bold;
}